.footer {
	background-color: $footer-bgd;
	padding: 60px 0;

	&__content {

		@media (min-width: 768px) {
			display: flex;
		}

		@media (max-width: 1199px) {
			flex-wrap: wrap;
			justify-content: center;
			column-gap: 165px;
			row-gap: 60px;
			text-align: center;
		}
	}
}