.portfolio {
	@extend %section;

	.section-title {
		@extend %hidden;
	}

	&__buttons-list {
		display: flex;
		column-gap: 8px;
		row-gap: 15px;
		flex-wrap: wrap;

		@media (min-width: 768px) {
			justify-content: center;
		}
	}

	&__btn {
		padding: 6px 22px;
		min-width: 70px;
		min-height: 38px;
		border-radius: 4px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.6;
		color: $subtitle-dark;
		background-color: $bgd-accent;
		transition: background-color $transition-variable,
			box-shadow $transition-variable,
			color $transition-variable;

		&:hover,
		&:focus {
			background-color: $accent;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
			color: $btn-text-color;
		}

		&--active {
			background-color: $accent;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
			color: $btn-text-color;
		}
	}

	&__cards-list {
		margin: 40px 0 0;

		@media (min-width: 768px) {
			margin: 50px 0 0;
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}
	}

	&__card {
		margin: 30px 0 0;
		background: $main-bgd-color;
	
		&:first-child {
			margin: 0;
		}

		@media (min-width: 768px) {
			width: 354px;
			margin: 0;
		}

		@media (min-width: 1200px) {
			width: 370px;
		}

	}

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		transition: box-shadow $transition-variable;

		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
		}
	}

	&__thumb {
		position: relative;
		overflow: hidden;
	}

	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		padding: 15px 24px;
		background-color: rgba(33, 150, 243, 0.9);
		transform: translateY(105%);
		transition: transform $transition-variable;

		.portfolio__link:hover &,
		.portfolio__link:focus & {
			transform: translateY(0%);
		}

		@media (min-width: 480px) {
			padding: 77px 24px;
		}

		@media (min-width: 768px) {
			padding-top: 49px;
		}

		@media (min-width: 1200px) {
			padding-top: 63px;
			padding-bottom: 63px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 1.5;
		color: $light-text;
		@media (min-width: 480px) {
			font-size: 18px;
		}
	}

	&__description {
		flex-grow: 1;
		border: 1px solid #EEEEEE;
		border-top: none;
		padding: 20px 24px;
	}

	&__title {
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		color: $subtitle-dark;
	}

	&__subtitle {
		font-size: 16px;
		line-height: 1.9;
	}
}